.wrapper{
	display: flex;
	flex-direction: column;
	padding: 15px;
}
.image img{
	width: 150px;
	
	
}
.body{
	
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.item{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	border: 1px solid #000;
	background-color: violet;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	
}

.page{
	cursor: pointer;
}
