
.img img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.header{
	grid-area: h;
	background-color: lightblue;
	
	
}
.container{
	display: flex;
	align-items: center;
	padding: 10px 0;
	justify-content: space-between;
	
}
.auth a{
	color: rosybrown;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	background-color: violet;
	color: #ffffff;
	border-radius: 5px;
}
.btn:hover{
	background-color: rgb(255, 192, 233);
}
.user{
	display: flex;
	align-items: center;
	
}