.img img{
	border-radius: 50%;
}
.post{
	padding: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
	background-color: #ffffff;
	align-self: start;
	border-radius: 5px;
}
.body{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.likes{
	display: flex;
	gap: 5px;

}
.likes button{
	background-color: #ffffff;
	color: pink;
	font-weight: 700;
}